@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-3xl: 120rem;
}

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

.headersvg {
  fill: #a81344;
}

.dark .headersvg {
  fill: #fff;
}
.dark .swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.5);
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
  --swiper-scrollbar-bg-color: rgb(255 255 255 / 0.1);
  --swiper-scrollbar-drag-bg-color: #fff;
}

body {
  @apply text-black/55 accent-red-800 transition-colors dark:bg-[#100000] dark:text-white/50;
}
.Container {
  @apply mt-22 p-5 md:px-20;
}
.highlight {
  @apply text-black dark:text-white;
}
.heading {
  @apply mb-5 text-3xl font-bold text-black capitalize dark:text-white;
}
.btn {
  @apply cursor-pointer rounded-md border border-red-800 bg-linear-to-r from-red-800 to-red-600 px-4 py-1.5 font-semibold text-white capitalize outline-offset-2 transition-all [corner-shape:squircle] hover:bg-none hover:text-red-800 focus-visible:bg-none focus-visible:text-red-800 active:scale-[.98] disabled:opacity-50 supports-[corner-shape:squircle]:rounded-[200px];
}
.btn-secondary {
  @apply cursor-pointer rounded-md border border-red-800 from-red-800 to-red-600 px-4 py-1.5 font-semibold text-red-800 capitalize outline-offset-2 transition-all hover:bg-linear-to-r hover:text-white focus-visible:bg-linear-45 focus-visible:text-white active:scale-[.98] disabled:opacity-50 supports-[corner-shape:squircle]:rounded-[200px] supports-[corner-shape:squircle]:[corner-shape:squircle];
}
.input {
  @apply w-full rounded-md border border-red-800/10 bg-transparent p-2 text-red-800 transition-all outline-none focus-visible:border-red-800 dark:border-white/10 dark:text-white dark:focus-visible:border-white;
}
.link {
  @apply transition hover:text-black focus-visible:text-black dark:hover:text-white dark:focus-visible:text-white;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none !important;
  opacity: 0 !important;
}
input[type="number"]::-webkit-outer-spin-button {
  appearance: none !important;
  opacity: 0 !important;
}
.floating-label {
  @apply pointer-events-none absolute -top-4 left-0 -translate-y-1/2 transition-all will-change-contents peer-placeholder-shown:top-1/2 peer-placeholder-shown:left-2 peer-focus:-top-4 peer-focus:left-0;
}

.home .swiper {
  @apply pt-10! md:pt-0!;
}

.swiper-pagination {
  @apply [--swiper-pagination-color:#a81344] dark:[--swiper-pagination-color:#fff];
  width: fit-content !important;
  border-radius: 1000px;
  @apply [--swiper-pagination-bottom:auto] [--swiper-pagination-top:0px] md:[--swiper-pagination-bottom:0px] md:[--swiper-pagination-top:unset];
}
