@tailwind base;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  text-wrap: balance;
}

.headersvg {
  fill: #111;
}

.dark .headersvg {
  fill: #fff;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  word-spacing: 0.1rem;
}
body {
  @apply dark:bg-[#111] transition-colors dark:text-white/60 text-black/70 text-sm md:text-base;
}

.highlight {
  @apply text-black dark:text-white;
}
.btn {
  @apply bg-[#111] dark:bg-white text-white dark:text-black hover:bg-transparent hover:text-[#111] dark:hover:bg-transparent dark:hover:text-white font-semibold px-3 py-2 rounded-md transition-colors border border-[#111] dark:border-white;
}
.input {
  @apply w-full text-black dark:text-white bg-transparent border-b dark:border-white/10 dark:focus-within:border-white border-black/10 focus-within:border-black transition-all px-2 py-1 outline-none;
}
.floating-label {
  @apply absolute will-change-contents transition-all pointer-events-none left-2 peer-placeholder-shown:top-1/2 peer-focus:-top-2 -top-2 -translate-y-1/2 dark:text-white/60 opacity-80;
}

.swiper-pagination {
  --swiper-pagination-bottom: 0;
  @apply w-fit bg-black/80 p-1;
}

#nprogress .bar {
  background: #fff !important;
}
#nprogress .spinner {
  right: 50px !important;
}
#nprogress .spinner-icon {
  border-top-color: #fff !important;
  border-left-color: #fff !important;
}
